.main-header-container {
    background: $primary-colour;
    padding: 1rem;
    .main-header {
        display: grid;
        grid-template-columns: auto auto;
        color: white;
        .logo-padding {
            padding: 1rem;
            .logo-container {
                height: 5rem;
                width: 5rem;
                .logo {
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
        .header-links {
            display: grid;
            justify-content: end;
            align-content: start;
            .github-link {
                margin: 0.8rem;
                padding: 0.2rem;
                object {
                    width: 2.5rem;
                    height: 2.5rem;
                }
                &:hover {
                    filter: brightness(75%);
                    border-bottom: 3px solid $accent-colour-light;
                    transition: all 0.5s;
                }
            }
        }
    }
}
