.btn-light {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 3px solid white;
    box-shadow: -3px 5px white;
    margin: auto;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: $primary-colour;
        background: white;
    }
}

.btn-dark {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 3px solid black;
    box-shadow: -3px 5px black;
    margin: auto;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: white;
        background: black;
    }
}
