.btn-light {
    color: black;
    background: white;
    border-radius: 1px;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 2rem;
    box-shadow: 6px 6px 0 -3px $primary-colour, 6px 6px white;
    margin: auto;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: 3px 3px white, 3px 3px white;
        transform: translate(3px, 3px);
    }
}
